<ion-view>
    <ion-content class="content-pd-t text-center">
        <div ng-if="vm.authorized">
            <h1 class="title bold">Create wallet</h1>
            <form ng-submit="vm.createWallet()">
                <div class="list">
                    <label class="item item-input profile-edit">
                        <div class="input-label bold">
                            Wallet Name
                        </div>
                        <input type="text" ng-model="vm.model.name" ng-disabled="vm.loading">
                    </label>
                    <label class="item item-input profile-edit">
                        <div class="input-label bold">
                            Bank account owner
                        </div>
                        <input type="text" ng-model="vm.model.bankAccountHolderName" ng-disabled="vm.loading">
                    </label>
                    <label class="item item-input profile-edit">
                        <div class="input-label bold">
                            Bank account #
                        </div>
                        <input type="text" ng-model="vm.model.bankAccountNumber" ng-disabled="vm.loading">
                    </label>
                    <label class="item item-input profile-edit">
                        <div class="input-label bold">
                            Bank transit #
                        </div>
                        <input type="text" ng-model="vm.bankTransitNumber" ng-disabled="vm.loading">
                    </label>
                    <label class="item item-input profile-edit">
                        <div class="input-label bold">
                            Bank institution #
                        </div>
                        <input type="text" ng-model="vm.bankInstitutionNumber" ng-disabled="vm.loading">
                    </label>
                    <div>
                        <button type="submit" class="button button-balanced tw-btn mg-t" ng-disabled="vm.loading">
                            <span ng-show="vm.loading">...</span>
                            <span ng-hide="vm.loading">Create wallet</span>
                        </button>
                        <br />
                        <a ui-sref="app.team({teamId : vm.model.teamId})" class="button button-assertive tw-btn mg-b" ng-disabled="vm.loading">
                            <span ng-show="vm.loading">...</span>
                            <span ng-hide="vm.loading">Cancel</span>
                        </a>
                    </div>
                </div>
            </form>
            <!--<ul class="error-auth" ng-show="vm.errors.length > 0">
                <li ng-repeat="error in vm.errors">{{error}}</li>
            </ul>-->
    </ion-content>
</ion-view>